@{ string controller = this.ViewContext.RouteData.Values["controller"].ToString(); }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(controller == "客戶資料" ? "active" : string.Empty)">
                        @Html.ActionLink("客戶資料", "Index", "客戶資料")
                    </li>
                    <li class="@(controller == "客戶銀行資訊" ? "active" : string.Empty)">
                        @Html.ActionLink("客戶銀行資訊", "Index", "客戶銀行資訊")
                    </li>
                    <li class="@(controller == "客戶聯絡人" ? "active" : string.Empty)">
                        @Html.ActionLink("客戶聯絡人", "Index", "客戶聯絡人")
                    </li>
                    <li class="@(controller == "V_Report" ? "active" : string.Empty)">
                        @Html.ActionLink("報表", "Index", "V_Report")
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>